img {
    width: 300px;
    margin: 30px auto;;
}

body {
    font-family: 'Montserat', sans-serif;
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-text-color);
}

#main {
    width: 100%;
    padding: 20px;
    text-align: center;
}

button {
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-button-color);
    background: var(--tg-theme-button-text-color);
}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
}

#form {
    display: block;
    text-align: center;
}

input {
    width: 90%;
    outline: none;
    margin: 10px 5%;
    padding: 15px 10px;
    font-size: 14px;
    border: 2px solid silver;
    border-radius: 5px;
}